extends layout

block sidebar
  h1 Table of contents
  ul
    li 
      a(href="#stuff") Article 1
    li 
      a(href="#stuff") Article 2
    li
      input(type="text" value="Article 3")
    li 
      a(href="#stuff") Stuff
    li 
      a(href="#stuff") Stuff

  h1 Table of contents
  ul
    li 
      a(href="#stuff") Stuff
    li 
      a(href="#stuff") Stuff
    li 
      a(href="#stuff") Stuff
    li 
      a(href="#stuff") Stuff

block main
  h1 Documentation

  section#stuff
    h1 Stuff
    h2 Stuff
    h3 Stuff
    h4 Stuff
    h5 Stuff
