extends layout

block sidebar
  h1 Table of contents
  ul
    li.edit
      a(href="#")
        | Dataset 1
      input(type="text" value="Dataset 1" data-href="/a/b/c/file.json")
      aside.tools
        span#edit e
          .tooltip Edit
        span#edit d
          .tooltip Delete
    li
      a(href="#")
        | Dataset 1
      input(type="text" value="Dataset 1" data-href="/a/b/c/file.json")
      aside.tools
        span#edit e
          .tooltip Edit
        span#edit d
          .tooltip Delete
    li
      a(href="#")
        | Dataset 1
      input(type="text" value="Dataset 1" data-href="/a/b/c/file.json")
      aside.tools
        span#edit e
        span#edit a
    li
      a(href="#")
        | Dataset 1
      input(type="text" value="Dataset 1" data-href="/a/b/c/file.json")
      aside.tools
        span#edit e
        span#edit a

block main
  h1 Documentation

  section#stuff
    h1 Stuff
    h2 Stuff
    h3 Stuff
    h4 Stuff
    h5 Stuff
