extends layout

block sidebar
  h1 Table of contents
  ul
    li 
      a(href="#stuff") Stuff

block main
  h1 Documentation

  section#stuff
    h1 Stuff
    h2 Stuff
    h3 Stuff
    h4 Stuff
    h5 Stuff
