doctype html
html
  head
    link(rel="stylesheet" href="/css/style.css")
  body
    header.acss-header
      nav
        ul
          li
            a(href="/") Application CSS

    aside.acss-sidebar
      block sidebar

    main.acss-mainpane
      block main

    footer
