doctype html
html
  head
    link(rel="stylesheet" href="/css/app.css")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
    block head

  body
    .acss-status
    nav.acss-navbar
      ul
        li
          a(href="/") Application CSS

      ul
        li
          a(href="/test/") Test
        li
          a(href="/docs/v0/") Docs

    aside.acss-sidebar
      block sidebar

    main.acss-mainpane
      block main

    footer
      script(src="/js/jquery.js")
      script(src="/js/app.js")
      block footer
