* {
  box-sizing: border-box; }

html {
  background: #222222;
  color: white; }

html, body {
  height: 100%;
  font-size: 16px; }

.grid-row {
  display: -webkit-box;
  display: -o-flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.acss-sidebar {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  display: block;
  margin-left: 0;
  font-size: 0.85rem; }
  @media screen and (min-width: 768px) {
    .acss-sidebar {
      width: calc(100% - 15px);
      clear: none; } }
  @media screen and (min-width: 480px) {
    .acss-sidebar {
      width: 100%;
      display: block;
      margin-left: 0; } }
  @media screen and (min-width: 480px) and (min-width: 768px) {
    .acss-sidebar {
      width: calc(50% - 15px);
      clear: none; } }

  @media screen and (min-width: 768px) {
    .acss-sidebar {
      width: 100%;
      display: block;
      margin-left: 0; } }
  @media screen and (min-width: 768px) and (min-width: 768px) {
    .acss-sidebar {
      width: calc(33.33333% - 15px);
      clear: none; } }

  @media screen and (min-width: 960px) {
    .acss-sidebar {
      width: 200px; } }
  .acss-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 10px 0; }
    .acss-sidebar ul li {
      position: relative; }
      .acss-sidebar ul li a {
        padding: 5px 15px;
        display: block; }
        .acss-sidebar ul li a + input {
          display: none; }
        .acss-sidebar ul li a:hover {
          background-color: rgba(255, 255, 255, 0.2);
          text-decoration: none; }
      .acss-sidebar ul li input[type="text"] {
        border: 0px;
        background: transparent;
        padding: 5px 15px;
        width: 100%; }
        .acss-sidebar ul li input[type="text"]:hover {
          background: rgba(255, 255, 255, 0.1); }
        .acss-sidebar ul li input[type="text"]:focus {
          background: white;
          color: #333333;
          outline: 0px; }
      .acss-sidebar ul li .tools {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 5px 15px; }
        .acss-sidebar ul li .tools span {
          cursor: pointer;
          display: inline-block;
          text-align: center;
          padding: 2px;
          width: 15px;
          border-radius: 50%;
          position: relative; }
          .acss-sidebar ul li .tools span .tooltip {
            display: none;
            position: absolute;
            top: 30px;
            left: 10px;
            background: rgba(0, 0, 0, 0.7);
            padding: 5px;
            color: white;
            text-shadow: none;
            border-radius: 3px; }
          .acss-sidebar ul li .tools span:hover {
            text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3), -1px 1px 1px rgba(255, 255, 255, 0.3), 1px -1px 1px rgba(255, 255, 255, 0.3), -1px -1px 1px rgba(255, 255, 255, 0.3); }
            .acss-sidebar ul li .tools span:hover .tooltip {
              display: block; }
      .acss-sidebar ul li.edit a, .acss-sidebar ul li.edit .tools {
        display: none; }
      .acss-sidebar ul li.edit a + input {
        display: block; }
      .acss-sidebar ul li:hover .tools {
        display: block; }
      .acss-sidebar ul li:hover.edit .tools {
        display: none; }
  .acss-sidebar h1 {
    font-size: 0.85rem;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 5px 15px; }

.acss-header {
  width: 100%;
  display: block;
  margin-left: 0; }
  @media screen and (min-width: 768px) {
    .acss-header {
      width: calc(100% - 15px);
      clear: none; } }
  @media screen and (min-width: 768px) {
    .acss-header {
      width: 100%;
      display: block;
      margin-left: 0; } }
  @media screen and (min-width: 768px) and (min-width: 768px) {
    .acss-header {
      width: calc(100% - 15px);
      clear: none; } }

  .acss-header ul {
    list-style: none;
    padding: 0 15px; }
    .acss-header ul li {
      display: inline-block; }

.acss-mainpane {
  width: 100%;
  display: block;
  margin-left: 0;
  padding: 15px;
  background: white;
  color: #222222; }
  @media screen and (min-width: 768px) {
    .acss-mainpane {
      width: calc(100% - 15px);
      clear: none; } }
  @media screen and (min-width: 480px) {
    .acss-mainpane {
      width: 100%;
      display: block;
      margin-left: 0; } }
  @media screen and (min-width: 480px) and (min-width: 768px) {
    .acss-mainpane {
      width: calc(50% - 15px);
      clear: none; } }

  @media screen and (min-width: 768px) {
    .acss-mainpane {
      width: 100%;
      display: block;
      margin-left: 0; } }
  @media screen and (min-width: 768px) and (min-width: 768px) {
    .acss-mainpane {
      width: calc(66.66667% - 15px);
      clear: none; } }

  @media screen and (min-width: 960px) {
    .acss-mainpane {
      width: calc(100% - 200px); } }

body {
  display: -webkit-box;
  display: -o-flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

a, a[href] {
  text-decoration: none;
  color: white; }
  a:hover, a[href]:hover {
    text-decoration: underline; }

h1, h2, h3, h4, h5, p {
  margin-top: 0; }

.test {
  display: bloct; }
