extends ../layout

block sidebar
  h1 Table of contents
    aside.tools
      span#edit
        .tooltip Edit
        span.fa.fa-pencil
      span#edit
        .tooltip Delete
        span.fa.fa-trash-o
  h1 Table of contents
    aside.tools
      span#edit
        .tooltip Edit
        span.fa.fa-pencil
      span#edit
        .tooltip Delete
        span.fa.fa-trash-o
  ul
    li.edit
      a(href="#")
        | Editable entry
      input(type="text" value="Editable entry" data-href="/a/b/c/file.json")
      aside.tools
        span#edit
          .tooltip Edit
          span.fa.fa-pencil
        span#edit
          .tooltip Delete
          span.fa.fa-trash-o
    li
      em Just a humble italic sentence
    li
      a(href="#")
        | Submenu
      input(type="text" value="Submenu" data-href="/a/b/c/file.json")
      aside.tools
        span#edit
          .tooltip Edit
          span.fa.fa-pencil
        a#edit(href="#")
          .tooltip Delete
          span.fa.fa-trash-o
      ul
        li
          a(href="#")
            | I'm a submenu
          input(type="text" value="I'm a submenu" data-href="/a/b/c/file.json")
          aside.tools
            span#edit
              .tooltip Edit
              span.fa.fa-pencil
            span#edit
              .tooltip Delete
              span.fa.fa-trash-o
        li.edit
          a(href="#")
            | I'm an editable submenu
          input(type="text" value="I'm an editable submenu" data-href="/a/b/c/file.json")
          aside.tools
            span#edit
              .tooltip Edit
              span.fa.fa-pencil
            span#edit
              .tooltip Delete
              span.fa.fa-trash-o
        li
          a(href="#")
            | I'm a submenu but I'm so long that I take up a ton of room. I can't believe it, can you?
          input(type="text" value="I'm a submenu" data-href="/a/b/c/file.json")
          aside.tools
            span#edit
              .tooltip Edit
              span.fa.fa-pencil
            span#edit
              .tooltip Delete
              span.fa.fa-trash-o
    li
      a(href="#")
        | Regular link
      input(type="text" value="Dataset 1" data-href="/a/b/c/file.json")
      aside.tools
        span#edit
          .tooltip Edit
          span.fa.fa-pencil
        span#edit
          .tooltip Delete
          span.fa.fa-trash-o

  h1 Table of contents
  ul
    li.edit
      a(href="#")
        | Dataset 1
      input(type="text" value="Dataset 1" data-href="/a/b/c/file.json")
      aside.tools
        span#edit e
          .tooltip Edit
        span#edit d
          .tooltip Delete
    li
      a(href="#")
        | Dataset 1
      input(type="text" value="Dataset 1" data-href="/a/b/c/file.json")
      aside.tools
        span#edit e
          .tooltip Edit
        span#edit d
          .tooltip Delete
    li
      a(href="#")
        | Dataset 1
      input(type="text" value="Dataset 1" data-href="/a/b/c/file.json")
      aside.tools
        span#edit e
        span#edit a
    li
      a(href="#")
        | Dataset 1
      input(type="text" value="Dataset 1" data-href="/a/b/c/file.json")
      aside.tools
        span#edit e
        span#edit a

  h1 Table of contents
  ul
    li.edit
      a(href="#")
        | Dataset 1
      input(type="text" value="Dataset 1" data-href="/a/b/c/file.json")
      aside.tools
        span#edit e
          .tooltip Edit
        span#edit d
          .tooltip Delete
    li
      a(href="#")
        | Dataset 1
      input(type="text" value="Dataset 1" data-href="/a/b/c/file.json")
      aside.tools
        span#edit e
          .tooltip Edit
        span#edit d
          .tooltip Delete
    li
      a(href="#")
        | Dataset 1
      input(type="text" value="Dataset 1" data-href="/a/b/c/file.json")
      aside.tools
        span#edit e
        span#edit a
    li
      a(href="#")
        | Dataset 1
      input(type="text" value="Dataset 1" data-href="/a/b/c/file.json")
      aside.tools
        span#edit e
        span#edit a

  h1 Table of contents
  ul
    li.edit
      a(href="#")
        | Dataset 1
      input(type="text" value="Dataset 1" data-href="/a/b/c/file.json")
      aside.tools
        span#edit e
          .tooltip Edit
        span#edit d
          .tooltip Delete
    li
      a(href="#")
        | Dataset 1
      input(type="text" value="Dataset 1" data-href="/a/b/c/file.json")
      aside.tools
        span#edit e
          .tooltip Edit
        span#edit d
          .tooltip Delete
    li
      a(href="#")
        | Dataset 1
      input(type="text" value="Dataset 1" data-href="/a/b/c/file.json")
      aside.tools
        span#edit e
        span#edit a
    li
      a(href="#")
        | Dataset 1
      input(type="text" value="Dataset 1" data-href="/a/b/c/file.json")
      aside.tools
        span#edit e
        span#edit a

block main
  h1 Documentation

  section#stuff
    h1 Stuff
    h2 Stuff
    h3 Stuff
    h4 Stuff
    h5 Stuff

  .acss-readable-container
    p This is a readable container. Now matter how much stuff I put in here, it will remain readable because it is awesome and it doesn't judge me. If I wanted to go on and on and on, at least it would just shut up and be a narrow space of text.
